.cartbody{
    display: flex;
    padding: 0px 60px;
    justify-content: center;
    
}
.products{
    width: 50%;
}
.cartproduct{
    
   
    display: flex;
   box-orient: vertical;
   direction: normal;
    flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: humanist521bt-roman;
    box-shadow: 0 0.5px 2.5px 2px rgb(40 44 63 / 10%);


}
.buttombar{
    display: none;
}
.proinfo{
    justify-content: center;
    margin: 0px 20px;
}
.cartuper{
    display: flex;

}
.quantity{
    display: flex;


}
.lowerbox{
    align-items: center;
display: flex;
flex-direction: row;
    
padding: 1px 2px 6px;
    text-align: center;
    cursor: pointer;
}
.lower{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;

}
.bill{
    width: 30%;
    margin-left: 30px;
}

.billlevel{
    display: flex;
    justify-content: space-between;
    padding: 2px 0 8px;

}
.decre{
    width: 30px;
    height: 20px;
    border: 1px solid #e0eadf;
    background-color: #fff;
    text-align: center;
    color: #345e2e;
    cursor: pointer;
}
.cardbutton{
    width: 100%;
    background-color: #345e2e;
justify-content: center;
    text-transform: uppercase;
    color: #fff;
    align-items: center;

    display: block;
    padding: 11px 20px 8px;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
@media (max-width: 800px) {

.cartbody{
    flex-direction: column;
    padding: 15px;
}
.products{
    width: 100%;
}
.bill{
    width: 100%;
    margin-left: 0px;
    padding: 4px;

}
.cartproduct{
    font-size: small;
}
.imagepro{
    width: 35%;
    height: auto;
}
.buttombar{
    display: flex;
    position: fixed;
    z-index: 20;
    background-color: white;
padding: 2px;
    bottom: 0;
    float: left;
    width: 100%;
    justify-content: space-between;
}
.cardbutton{
    display: none;
}
.cardbutton2{
    width: 50%;
    
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    padding-left: 10px;
}
.cardbutton1{
    width: 50%;
    background-color: #345e2e;
justify-content: center;
    text-transform: uppercase;
    color: #fff;
    align-items: center;

    display: block;
    padding: 11px 20px 8px;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
}