.card{
    font-family: myriad pro;
    padding: 50px 20px;
    text-align: center;
    margin: 10px 5px;
    justify-content: center;
    position: relative;
    align-items: center;
    background: #fff;
    height: 400px;
    text-transform: capitalize;
}
.card::before {
    content: '';
    background: url(../public/images/quotes.png) no-repeat;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 28px;
    height: 20px;
}
.card::after {
    content: '';
    background: url(../public/images/quotes.png) no-repeat;
    position: absolute;
    bottom: 1%;
    right: 5%;
    width: 28px;
    height: 20px;
}
.cardinf{
    font-family: myriad pro;
    margin: 15px 0;


}
.cardimg{
    width: 120px;
    border-radius: 50%;
    height: 120px;
    border: 2px solid #eef1df;
    margin-left: 35%;

}
.uperft{
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    padding: 10px 50px;
    line-height: 32px;


}

.uperftl{
    font-size: 16px;
    text-transform: capitalize;
    color: #4f4f4f;
    line-height: 12px;
    margin-left: 1px;
    margin-right: 65px;
    text-transform: capitalize;
    text-decoration: none;

}
.footer{
    display: flex;
    margin-top: 5px;
   
    justify-content: space-between;
    flex-wrap: wrap;
   
    align-items: center;
    background-color: #cde0b2;
    padding: 5px 10px;
  left: 0;
  bottom: 0;
  width: 100%;
   
}
.midft a{
    font-size: 16px;
    text-transform: capitalize;
    color: #4f4f4f;
    line-height: 12px;
    margin-left: 32px;
    margin-right: 65px;
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 50px;
    text-decoration: none;

}
.lowerft{
display: flex;
justify-content: space-between;
width: 100%;
margin-bottom: 10px;
}
.lrl{
    text-decoration: none;

}
.midtl a {
    text-decoration: none;
    color: #4f4f4f;


}
@media only screen and (max-width: 768px) {

    .container{
        flex-wrap:   wrap;
    }
    .uperftl{
        font-size: 13px;
        text-transform: capitalize;
        color: #4f4f4f;
        line-height: 2px;
        margin-left: 1px;
        margin-right: 5px;
        text-transform: capitalize;
        text-decoration: none;
    }
    .uperft{
        padding: 1px 2px;
 
    }
    .uperftl{
        margin-left: 1px;
    margin-right: 10px;
    }
    .midft a{
     font-size: 10px;
        margin: 3px;
        padding: 2px;
    }


}
